# Image Similarity required packages
annoy                      ==1.17.1
ImageHash                  ==4.3.1
ipyplot                    ==1.1.1
pandas                     ==1.5.0
Pillow                     ==9.2.0
requests                   ==2.28.1
